<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>

    <section id="featured" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="img/slider/1.jpg" alt="" />
                            </li>
                            <li>
                                <img src="img/slider/2.jpg" alt="" />
                            </li>
                            <li>
                                <img src="img/slider/3.jpg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
