<html xmlns:th="http://www.thymeleaf.org">

    <header th:fragment="header">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Khairul Anam <span>Ronnie</span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul id="nav" class="nav navbar-nav">
                        <li>
                            <a href="https://www.rokomari.com" target="_blank">Rokomari.com</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/blog}">blog</a>
                        </li>
                        <!--<li>
                            <a th:href="@{/info}">Info</a>
                        </li>
                        <li>
                            <a th:href="@{/contact}">contact</a>
                        </li>
                        <div th:if="${#httpServletRequest.remoteUser == null}" th:remove="tag">
                            <li><a th:href="@{/login}">login</a></li>
                        </div>
                        -->
                        <div th:if="${#httpServletRequest.remoteUser != null}" th:remove="tag">
                            <li><a th:href="@{/admin/post/list}">admin</a></li>
                            <li><a id="ar-logout" th:href="@{/logout}">logout</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" id="it-logout" class="display-none" />
        </form>
        <script>
            $(document).ready(function(){
                $('#ar-logout').click(function(){
                    $('#it-logout').click();
                    return false;
                })
            })


            SyntaxHighlighter.config.tagName="code";
            SyntaxHighlighter.all();
        </script>

    </header>

</html>
