<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin Post Entry</title>
</head>
<body>

<section id="content" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div th:replace="fragment/admin/right :: right('post')"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <h3>Post Entry</h3>
                </div>
                <div th:replace="fragment/admin/post/form :: form(${postAdminForm})"></div> <!-- form.action: admin/post/save/{id}, form.method: post -->
            </div>
        </div>
    </div>
</section>

</body>
</html>
