<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="row" th:fragment="postform">
    <div class="col-lg-12">
        <input type="text" name="title" th:field="*{title}" class="form-control" placeholder="* Post Title"  />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger margintop10"></div>
    </div>
    <div class="col-lg-12 margintop20">
        <textarea rows="12" name="content" th:field="*{value}" class="form-control" placeholder="* Post Content"  ></textarea>
        <div th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="alert alert-danger margintop10"></div>
    </div>
    <div class="col-lg-12 margintop20">
        <input class="btn btn-theme pull-left" type="submit" />
    </div>
</div>

</html>
