<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin Post List</title>
</head>
<body>

<section id="content" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Post List</h3>
                    </div>
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <th>Srl</th>
                                <th>Post Title</th>
                                <th>Post Date</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                            </tr>
                            <tr th:each="post, iterStat : ${posts}" th:id="${post.id}" class="cursor-pointer">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${post.title}"></td>
                                <td th:text="${{post.created}}"></td>
                                <td th:text="${{post.updated}}"></td>
                                <td th:text="${post.status}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                $(document).ready(function(){
                    $('.cursor-pointer').click(function(){
                        window.location = '/admin/post/edit/' + $(this).attr('id');
                    });
                });
            </script>

            <div class="col-lg-4">
                <div th:replace="fragment/admin/right :: right('post')"></div>
            </div>

        </div>
    </div>
</section>

</body>
</html>
