<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin Post Edit</title>
</head>
<body>

<section id="content" layout:fragment="content">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="col-lg-12">
                    <h3>Tag Edit</h3>
                </div>
                <div th:replace="fragment/admin/tag/form :: form(${tag})"></div> <!-- form.action: admin/tag/save/{id}, form.method: post -->
            </div>

            <div class="col-lg-4">
                <div th:replace="fragment/admin/right :: right('tag')"></div>
            </div>

        </div>
    </div>
</section>

</body>
</html>
