<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="right" class="col-lg-4">
        <aside class="right-sidebar">
            <div class="widget">
                <input class="form-control" type="text" placeholder="Search Post..." />
            </div>
            <div class="widget">
                <h5 class="widgetheading">Tags</h5>
                <ul class="cat">
                    <li><i class="icon-angle-right"></i><a href="#">Web design</a><span> (20)</span></li>
                    <li><i class="icon-angle-right"></i><a href="#">Online business</a><span> (11)</span></li>
                    <li><i class="icon-angle-right"></i><a href="#">Marketing strategy</a><span> (9)</span></li>
                    <li><i class="icon-angle-right"></i><a href="#">Technology</a><span> (12)</span></li>
                    <li><i class="icon-angle-right"></i><a href="#">About finance</a><span> (18)</span></li>
                </ul>
            </div>
        </aside>
    </div>

</html>
