<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Blog</title>
</head>
<body>

    <section id="content" layout:fragment="content">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row">
                        <div th:each="post : ${pagedPosts.page}" class="col-lg-12 marginbot30">
                            <div class="post-heading">
                                <h3 th:text="${post.title}"></h3>
                            </div>
                            <p th:utext="${post.valueShort}"></p>
                            <div class="bottom-article">
                                <ul class="meta-post">
                                    <li><i class="icon-calendar"></i><a th:href="@{/blog/post/} + ${post.id}" th:text="${{post.created}}"></a></li>
                                    <li><i class="icon-user"></i><a th:href="@{/blog/post/} + ${post.id}" th:text="${post.user.name}"></a></li>
                                    <li><i class="icon-folder-open"></i><a th:href="@{/blog/post/} + ${post.id}">Blog</a></li>
                                    <li><i class="icon-comments"></i><a th:href="@{/blog/post/} + ${post.id}" th:text="${post.commentCount} +' Comments'"></a></li>
                                </ul>
                                <a href="#" th:href="@{/blog/post/} + ${post.id}" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragment/pager :: pager(${pagedPosts})"></div>
                </div>

                <div th:replace="fragment/blog/right :: right"></div>

            </div>
        </div>
    </section>

</body>
</html>
