<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${post.title}"></title>
</head>
<body>

    <section id="content" layout:fragment="content">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 marginbot30">
                            <div class="post-heading">
                                <h3 th:text="${post.title}"></h3>
                            </div>
                            <p th:utext="${post.value}"></p>
                            <div class="bottom-article">
                                <ul class="meta-post">
                                    <li><a th:href="@{/blog/post/} + ${post.id}" th:text="${{post.created}}"></a></li>
                                    <!--<li><a th:href="@{/blog/post/} + ${post.id}" th:text="${post.user.name}"></a></li>
                                    <li><a th:href="@{/blog/post/} + ${post.id}">Blog</a></li>-->
                                    <li><a th:href="@{/blog/post/} + ${post.id}" th:text="${post.commentCount} +' Comments'"></a></li>
                                    <div th:each="tag : ${post.tags}" th:remove="tag">
                                        <li><a th:href="@{/blog/__${tag.value}__/1}" th:text="${tag.name}"></a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="fragment/blog/right :: right(${tags})"></div>

            </div>
        </div>
    </section>

</body>
</html>
